$primary:       #0ead69;
$secondary:     #948fa9;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:         #d3d4d9;
$dark:          #36345c;

$white:    #fff !default;
$gray-100: #EBEBEE !default;
$gray-200: #D8D7DD !default;
$gray-300: #C4C4CC !default;
$gray-400: #B1B0BC !default;
$gray-500: #9D9CAB !default;
$gray-600: #767589 !default;
$gray-700: #4F4E68 !default;
$gray-800: #3C3A57 !default;
$gray-900: #22203B !default;
$black:    #000 !default;

$font-family-sans-serif: 'Kanit', sans-serif;
